@font-face {
    font-family: 'Segoe UI';
    src: url('/images/fonts/SegoeUI/regular/Segoe UI.eot');
    src: url('/images/fonts/SegoeUI/regular/Segoe UI.eot?#iefix') format('embedded-opentype'),
        url('/images/fonts/SegoeUI/regular/Segoe UI.woff2') format('woff2'),
        url('/images/fonts/SegoeUI/regular/Segoe UI.woff') format('woff'),
        url('/images/fonts/SegoeUI/regular/Segoe UI.ttf') format('truetype'),
        url('/images/fonts/SegoeUI/regular/Segoe UI.svg#-CirceCirceCirce') format('svg');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Segoe UI';
    src: url('/images/fonts/SegoeUI/bold/SegoeUI-Bold.eot');
    src: url('/images/fonts/SegoeUI/bold/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
        url('/images/fonts/SegoeUI/bold/SegoeUI-Bold.woff') format('woff'),
        url('/images/fonts/SegoeUI/bold/SegoeUI-Bold.ttf') format('truetype'),
        url('/images/fonts/SegoeUI/bold/SegoeUI-Bold.svg#-CirceCirceCirce') format('svg');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'Segoe UI';
    src: url('/images/fonts/SegoeUI/semibold/SegoeUI-SemiBold.eot');
    src: url('/images/fonts/SegoeUI/semibold/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('/images/fonts/SegoeUI/semibold/SegoeUI-SemiBold.woff') format('woff'),
        url('/images/fonts/SegoeUI/semibold/SegoeUI-SemiBold.ttf') format('truetype'),
        url('/images/fonts/SegoeUI/semibold/SegoeUI-SemiBold.svg#-CirceCirceCirce') format('svg');
    font-weight: 600;
    font-style: normal;
}


.page-root{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	min-height: 100vh;
}

body {
    margin: 0;/* по умолчанию есть отступы по 8px, убираем их */
    font-family:'Segoe UI', sans-serif;
    font-size: 14px;
    /*сглазим шрифты*/
    -webkit-font-smoothing: antialiased;
    background-color: #FAFAFA;

}

/* Container ============ */
.container {
    width: 100%;
    max-width: 1200px;
}

/* HEADER =========== */

*,
*:before,
*:after {
    box-sizing: border-box; /*алгоритм подсчета размера блоков с учётом padding*/
}

.header {
    background-color: #fff;;
    width: 100%;
    /* overflow: hidden; */
    top: 0;
    left: 0;
    z-index: 1000;

}

.header__top {
    align-items: center; /*расположим элементы внутри него по центру (по горизонтали)*/
    padding: 16px 0 0; /* внутренний отступ сверху и снизу*/
    
}

.header .container {
    position: relative;
}

hr {
    width: 100%;
    padding: 0;
    border-style: inset;
    border-width: 1px;   
    color: #C4C4C4; /* добавили полоску*/
}



/* Navigation =========== */

.header__info {
    display: flex;
    justify-content: right;
    text-align: right;
    margin-bottom: 0;
    padding-bottom: 0;
}

.nav {
    display: flex;

}

.nav__link {
    margin-left: 40px;
    font-size: 14px;
    line-height: 1.3;
    font-weight: 400;
    text-decoration: none; /* убираем подчеркивание ссылок снизу*/ 
    opacity: 1; 
    transition: color 0.1s linear;
    
}

.nav__link a {
    color: #333333;
}

.nav__link a img {
    rotate: 180;
}

.nav__link:first-child { /*псевдокласс - первый элемент*/
    margin-left: 0px;
}

.nav__link a:hover {
    text-decoration: none;
    color: #0099CC;
}

.nav__sub-box {
    padding: 0 0 0 0;
    z-index: 10;
}

.nav__sub {
    color: #fff;
    display: none;
    position: absolute;
    z-index: 10;
    top: 100%;
    background-color: #fff;
    opacity: 0.9;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px;
}

.sub__link {
    margin-top: 10px;
    top: 0;
    color: #333333;
}

.sub__link:first-child {
    margin-top: 0px;
}

.menu__link {
    color: #fff;
}

.menu__link:hover {
    cursor: pointer;
}



.nav__link.menu__link:hover .nav__sub{
    display: block;
}


/*Info ===========*/

.header__bottom {
    z-index: 1;
    display: flex;
    margin-left: 0px;
    align-items: center;
    margin-bottom: 30px;
}


.search__form {
    display: flex;
    margin-left: 30px;
    background: none;
    height: 40px;
    width: 33%;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    opacity: 0.8;
    padding: 0 18px;; 
}

.search__button {
    background: none;
    border: none;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0;
    
}

.search__txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #A2A2A2;
    opacity: 1;
    font-size: 14px;
    transition: 0.4s;
    line-height: 40px;
    width: 400px;
    font-weight: 400;
    
}

.search__button:hover > .search__icon {
    width: 22px;
    height: 22px;
}

.search__form:hover {
    border: 2px solid #fff;
}


.header__mail,
.header__phone {
    margin-left: 30px;
    display: flex;
    align-items: center;

}

.contacts {
    display: flex;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #333333;
    font-style:normal;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.info__icons {
    margin-right: 10px;
}

.contacts:hover {
    text-decoration: none;
    color: #333333;
    opacity: 0.7;
}

.call {
    margin-left: auto;
    display: flex;
    align-items: center;
    padding: 0;
}

.call__link {
    color: #0099CC;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
}

.call__link:hover {
    color: #0099CC;
    text-decoration: none;
}

/*Burger ========*/

.burger-box {
    display: none;
    padding: 20px;
}


.burger {
	padding: 9px 2px; /*чтобы бургер нажимался по всех своей ширине и высоте*/
	background: none;
	border: 0;
	cursor: pointer; /*чтобы менялся вид курсора при наведении*/

}

.burger__item {
	display: block;
	width: 30px;
	height: 3px;
	background-color: #000;
	/*делаем так, чтобы слово Menu не показывалось*/
	font-size: 0;
	color: transparent;
	/*position: relative, чтобы создать полоски снизу и сверху*/
	position: relative;
}

/*с помощью псевдомассивов before и after создадим ещё две полоски в бургер-меню*/
.burger__item:before,
.burger__item:after {
	content: "";
	width: 100%;
	height: 100%;
	
	background-color: #fff;
	position: absolute;
	left: 0;
	z-index: 1;
}

.burger__item:before {
	top: -8px; /*position: absolute, поэтому top ОТНОСИТЕЛЬНО burger__item*/
}

.burger__item:after {
	bottom: -8px;
}

/*breadcrumbs*/

.breadcrumb {
    display: flex;
    padding: 20px 0;
    align-items: center;
    background-color: #fafafa;
}

.breadcrumb__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: -10px;
    align-items: center;
}

.breadcrumb__list li a {
    color: #333333;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 100%;
}

.breadcrumb__list li span {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    padding-left: 10px;
}

.breadcrumb__list li::before {
    content: "/";
}


.breadcrumb__list li:first-child::before {
    content: "";
}

/*content*/

.filter__title {
    font-size: 20px;
    font-weight: 700;
    color: #333333;
    line-height: 100%;
    margin-bottom: 20px;
}

.filter__inner {
    border-radius: 10px;
    overflow: hidden;
}

.filter__item-box {
    background-color: #FAFAFA;
}

.filter__type {
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    background-color: #fff;
    border-bottom: 1.5px solid rgba(196,196,196,0.3);
    cursor: pointer;
}

.filter__name {
    font-size: 16px;
    line-height: 100%;
    font-weight: 600;
    color: #333333;
}

.filter__item-box {
    display: flex;
    flex-direction: column;
    display: none;
}

.filter__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 20px;
}

.filter__item-name {
    font-size: 14px;
    line-height: 100%;
    font-weight: 400;
    color: #333333;
}

.filter__item-link {
    font-size: 12px;
    color: #0099CC;
    font-weight: 400;
    line-height: 100%;
    text-decoration: underline;
}

.filter__item-link:hover {
    text-decoration: none;
    cursor: pointer;
}

/* .filter__item-link-2 {
    font-size: 12px;
    color: #666666;
    font-weight: 400;
    line-height: 100%;
    text-decoration: underline;
    display: none;
} */

.filter__subitem-box {
    padding: 5px 20px;
    display: none;
}

.filter__subitem-name {
    font-family: "Segoe UI", sans-serif;
    font-size: 12px;
    line-height: 100%;
    font-weight: 400;
    color: #666666;
    margin: 7px 0;
}

.filter__type-box:hover .filter__item-box {
    display: flex; 
}

.filter__item-box:hover .filter__subitem-box {
    display: block; /*не выходит при наведении ТОЛЬКО на ссылку*/
}


/*POPULAR DRINKS*/

.popular__drink {
    margin-top: 20px;
}

.drink {
    height: 100%;
    margin-top: 12px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 18px 35px 18px 15px;
    display: flex;
    justify-content: space-between;
}

.drink:first-child {
    margin-top: 0;
}

.drink__image {
    border-radius: 10px;
    overflow: hidden;
    margin-right: 10px;
}



.drink__name {
    display: flex;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.25;
    color: #333333;
    text-align: start;
}

.drink__options {
    display: flex;
    margin-top: 20px;
    justify-content: start;
}

.drink__size {
    display: flex;
    background-color: #ECECEC;
    border-radius: 6px;
    font-size: 12px;
    line-height: 100%;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    color: #666666;
    padding: 5px 9px;
   
}

.drink__price {
    display: flex;
    background-color: #0099CC;
    border-radius: 6px;
    font-size: 12px;
    line-height: 100%;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 5px 9px;
    margin-left: 5px;
}   

/*DRINK__COUNTRY*/

.drink__country {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
}

.country__checkbox {
    position: relative;
}

.country__input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}

.country__label {
    display: flex;
    background-color: #ECECEC;
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    border-radius: 10px;
    text-align: center;
    padding: 10px 15px;
    margin-right: 8px;
    margin-bottom: 10px;
    transition: background-color 0.1s linear;
    cursor: pointer;
}

.country__input:checked + .country__label {
    background-color: #0099CC;
    color: #fff;
    font-weight: 700;
}

/*drink__kind*/

.drink__kind {
    margin-top: 35px;
    margin-bottom: -9px;
}

.filter__checkbox {
    position: relative;
    margin-bottom: 9px;
}

.filter__input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}

.filter__label {
    font-size: 14px;
    line-height: 100%;
    font-weight: 400;
    color: #666666;
    padding-left: 35px;
    cursor: pointer;
}

.filter__label:before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid #EEEEEE;
    background-color: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.filter__label:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background: url("/images/icons/checked-catalog.svg") no-repeat;
    position: absolute;
    top: 4px;
    left: 4px;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.filter__input:checked + .filter__label:after {
    opacity: 1;
}


/*drink__salary*/
.drink__salary {
    margin-top: 40px;
}


/*.drink__sugar*/
.drink__sugar {
    margin-top: 40px;
}

/*.drink__grape*/
.drink__grape {
    margin-top: 40px
}

/*.drink__capacity*/
.drink__capacity {
    margin-top: 40px;
}


/*CATALOG*/

.catalog__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    color: #333333;
}

.catalog__subtitle {
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #666666;
}

.catalog__subtitle ol {
    margin: 10px 0;
}


.selects {
    display: flex;
}

.sort {
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    color: #333333;
}

.sort:last-child {
    margin-left: 30px;
}

.select {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    color: #666666;
    background-color: #fff;
    border: 1px solid #EFEFEF;
    border-radius: 8px;
    width: 170px;
    padding: 10px 0 10px 20px;
}

.option {
    color: #333333;
}


/*catalog__items*/

.catalog__items {
    display: flex;
    margin-top: 22px;
}

.catalog__item {
    background-color: #fff;
    display: flex;
    border: 1px solid #D8D8D8;
    border-radius: 14px;
    padding: 18px 23px 30px 23px;
    height: 100%;
    height: calc(100% - 27px);
    flex-direction: column;
    margin-right: -10px;
    margin-bottom: 15px;
}

.card__options {
    display: flex;
    padding: 0;
}

.card__option {
    display: flex;
    font-size: 16px;
    line-height: 1.3;
    color: #666666;
    background-color: #ECECEC;
    border-radius: 8px;
    height: 40px;
    width: 80px;
    margin-left: 8px;
    justify-content: center;
    align-items: center; 
    padding: 0;
}

.card__option:first-child {
    margin-left: 0px;
}

.card__image {
    display: flex;
    margin-top: 5px;
    justify-content: center;
    align-items: center; 
}

.card__describe {
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    line-height: 1.4;
    display: flex;
    margin-top: 12px;
    justify-content: center;
    align-items: center; 
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}



.card__price {
    display: flex;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 64px;
    justify-content: center;
    color: #0099CC;
    align-items: baseline;  
}



.price__value {
    font-size: 18px;
    font-weight: 400;
    margin-left: 5px;
    color: #333333;
}

.card__button-box {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.card__button {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    background-color: #0099CC;
    padding: 10px 80px;
    border-radius: 8px;
    transition: opacity 0.15s linear;
}

.card__button:hover {
    text-decoration: none;
    opacity: 0.7;
    cursor: pointer;
    color: #fff;
}


/*PAGINATION*/

.previous-page .page-link img {
    transform: rotate(180deg);
}

.pagination{
    text-align: center;
  }
  
.page__item {
    margin-left: 10px;
}

.page__item:first-child{
    margin-left: 0;
}

.page-link {
    display: flex;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    color: #666666;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border: 1px #efefef00 solid;
    border-radius: 8px;
    background-color: #fff;
    transition: border 0.2s linear;
    overflow: hidden;
}

.active .page-link {
    font-weight: 700;
    line-height: 100%;
    color: #fff;
    background-color: #0099CC;
}

.page-link:hover {
    text-decoration: none;
    border: 2px #666666 solid;
    color: #666666;
}

.active .page-link:hover {
    color: #fff;
    text-decoration: none;
    border: 2px #fff solid;
    background-color: #0099cc90;
}


/*YANDEX_MAP=========================*/

.map-box {
    margin-top: 100px;
}

#map {
    width: 100%; 
    height: 400px;
}

/*FOOTER=============================*/

.footer {
    display: flex;
    padding: 30px 0;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__text {
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    line-height: 1.4;
}
