@font-face {
    font-family: "Segoe UI";
    src: url("/images/fonts/SegoeUI/regular/Segoe UI.eot");
    src: url("/images/fonts/SegoeUI/regular/Segoe UI.eot?#iefix")
            format("embedded-opentype"),
        url("/images/fonts/SegoeUI/regular/Segoe UI.woff2") format("woff2"),
        url("/images/fonts/SegoeUI/regular/Segoe UI.woff") format("woff"),
        url("/images/fonts/SegoeUI/regular/Segoe UI.ttf") format("truetype"),
        url("/images/fonts/SegoeUI/regular/Segoe UI.svg#-CirceCirceCirce")
            format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Segoe UI";
    src: url("/images/fonts/SegoeUI/bold/SegoeUI-Bold.eot");
    src: url("/images/fonts/SegoeUI/bold/SegoeUI-Bold.eot?#iefix")
            format("embedded-opentype"),
        url("/images/fonts/SegoeUI/bold/SegoeUI-Bold.woff") format("woff"),
        url("/images/fonts/SegoeUI/bold/SegoeUI-Bold.ttf") format("truetype"),
        url("/images/fonts/SegoeUI/bold/SegoeUI-Bold.svg#-CirceCirceCirce")
            format("svg");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Segoe UI";
    src: url("/images/fonts/SegoeUI/semibold/SegoeUI-SemiBold.eot");
    src: url("/images/fonts/SegoeUI/semibold/SegoeUI-SemiBold.eot?#iefix")
            format("embedded-opentype"),
        url("/images/fonts/SegoeUI/semibold/SegoeUI-SemiBold.woff")
            format("woff"),
        url("/images/fonts/SegoeUI/semibold/SegoeUI-SemiBold.ttf")
            format("truetype"),
        url("/images/fonts/SegoeUI/semibold/SegoeUI-SemiBold.svg#-CirceCirceCirce")
            format("svg");
    font-weight: 600;
    font-style: normal;
}

.page-root {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
}

body {
    margin: 0; /* по умолчанию есть отступы по 8px, убираем их */
    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
    /*сглазим шрифты*/
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
}

/* Container ============ */
.container {
    width: 100%;
    max-width: 1200px;
}

/* HEADER =========== */

*,
*:before,
*:after {
    box-sizing: border-box; /*алгоритм подсчета размера блоков с учётом padding*/
}

.header {
    /* overflow: hidden; */
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    z-index: 1000;
    position: fixed;
}

.header.fixed {
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    height: auto;
    padding-bottom: 15px;
    border-bottom: 1px #a2a2a280 solid;
}

.header__top {
    align-items: center; /*расположим элементы внутри него по центру (по горизонтали)*/
    padding: 16px 0 0; /* внутренний отступ сверху и снизу*/
}

.header .container {
    position: relative;
}

hr {
    width: 100%;
    padding: 0;
    border-style: inset;
    border-width: 1px;
    color: #c4c4c4; /* добавили полоску*/
}

/* Navigation =========== */

.header__info {
    display: flex;
    justify-content: right;
    text-align: right;
    margin-bottom: 0;
    padding-bottom: 0;
}

.nav {
    display: flex;
}

.nav__link {
    margin-left: 40px;
    font-size: 14px;
    line-height: 1.3;
    font-weight: 600;
    text-decoration: none; /* убираем подчеркивание ссылок снизу*/
    opacity: 1;
    transition: color 0.1s linear;
}

.nav__link a {
    color: #fff;
}

.nav__link:first-child {
    /*псевдокласс - первый элемент*/
    margin-left: 0px;
}

.nav__link a:hover {
    text-decoration: none;
    color: #0099cc;
}

.nav__sub-box {
    padding: 0 0 0 0;
    z-index: 10;
}

.nav__sub {
    color: #fff;
    display: none;
    position: absolute;
    z-index: 10;
    top: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 10px;
}

.sub__link {
    margin-top: 10px;
    top: 0;
}

.sub__link:first-child {
    margin-top: 0px;
}

.menu__link {
    color: #fff;
}

.menu__link:hover {
    cursor: pointer;
}

.nav__link.menu__link:hover .nav__sub {
    display: block;
}

/*Info ===========*/

.header__bottom {
    z-index: 1;
    display: flex;
    margin-left: 0px;
    align-items: center;
}

.search__form {
    display: flex;
    margin-left: 30px;
    background: none;
    height: 40px;
    width: 33%;
    border: 1px solid #cccccc;
    border-radius: 8px;
    opacity: 0.8;
    padding: 0 18px;
}

.search__button {
    background: none;
    border: none;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0;
}

.search__txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #fff;
    opacity: 1;
    font-size: 14px;
    transition: 0.4s;
    line-height: 40px;
    width: 400px;
    font-weight: 400;
}

.search__button:hover > .search__icon {
    width: 22px;
    height: 22px;
}

.search__form:hover {
    border: 2px solid #fff;
}

.header__mail,
.header__phone {
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.contacts {
    display: flex;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    font-style: normal;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.info__icons {
    margin-right: 10px;
}

.contacts:hover {
    text-decoration: none;
    color: #fff;
    opacity: 0.9;
}

.call {
    margin-left: auto;
    display: flex;
    align-items: center;
    padding: 0;
}

.call__link {
    color: #feed00;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
}

.call__link:hover {
    color: #feed00;
    text-decoration: none;
}

/*INTRO==============*/
.intro {
    display: flex;
    height: 100%;
    padding-top: 210px; /*чтобы интро начиналось на таком расстояние(размер шапки), т.к. шапка поверх всего*/
    background: url("/images/intro-bg.jpg") center no-repeat;
    background-size: cover;
    color: #fff;
    padding-bottom: 140px;
    background-attachment: fixed;
}

.intro__title {
    font-size: 54px;
    line-height: 1.3;
    font-weight: bold;
}

.intro__subtitle {
    margin-top: 14px;
    font-size: 16px;
    line-height: 1.6;
    opacity: 0.8;
}

.intro__btn__box {
    margin-top: 45px;
}

.intro__btn {
    padding: 0 17px;
    border: none;
    border-radius: 12px;
    color: #fff;
    font-size: 18px;
    line-height: 1.3;
    font-weight: 600;
    background-color: #0099cc;
    transition: color 0.1s linear;
    transition: padding 0.1s linear;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 260px;
    height: 60px;
}

.arrow_rigth {
    padding-left: 15px;
}

.intro__btn:hover {
    text-decoration: none;
    background-color: #007ea8;
    color: #fff;
    padding: 0 10px 0 17px;
    border: 2px solid #fff;
}

/*CATALOG==============*/

.catalog {
    margin-top: 100px;
}

.catalog__title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    align-items: center;
}

.catalog__link {
    display: flex;
    font-size: 40px;
    line-height: 100%;
    color: #000;
    font-weight: 700;
    text-decoration: none;
}

.catalog__name {
    text-decoration: underline;
    color: #000;
    padding-bottom: 10px;
    padding-left: 2px;
}

.catalog__num {
    margin-left: 5px;
    font-weight: 600;
    color: #666666;
    margin-left: 5px;
}

.catalog__link:hover {
    text-decoration: none;
    background-color: rgba(180, 180, 180, 0.5);
    border-radius: 14px;
}

.catalog__left,
.catalog__right {
    border: 2px solid #fff;
}

.catalog__right {
    margin-left: 10px;
}

.catalog__left:hover {
    border: 2px solid #000;
    border-radius: 50%;
    cursor: pointer;
}
.catalog__right:hover {
    border: 2px solid #000;
    border-radius: 50%;
    cursor: pointer;
}

.catalog__item {
    display: flex;
    border: 1px solid #d8d8d8;
    border-radius: 14px;
    padding: 18px 18px 30px;
    margin: 0 15px;
    height: 100%;
    height: calc(100% - 30px);
    flex-direction: column;
}

.card__options {
    display: flex;
    padding: 0;
}

.card__option {
    display: flex;
    font-size: 16px;
    line-height: 1.3;
    color: #666666;
    background-color: #ececec;
    border-radius: 8px;
    height: 40px;
    width: 80px;
    margin-left: 8px;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.card__option:first-child {
    margin-left: 0px;
}

.card__image {
    display: flex;
    margin-top: 36px;
    justify-content: center;
    align-items: center;
}

.card__describe {
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    line-height: 1.4;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #c4c4c4;
    margin-bottom: 20px;
}

.describe__link {
    color: #333333;
    text-decoration: none;
}

.describe__link:hover {
    text-decoration: none;
    color: #33333380;
}

.image__link:hover {
    opacity: 0.8;
}

.price-button {
    margin-top: auto;
}

.card__price {
    display: flex;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    justify-content: center;
    color: #0099cc;
    align-items: baseline;
    margin-top: auto;
    margin-bottom: 20px;
}

.price__value {
    font-size: 18px;
    font-weight: 400;
    margin-left: 5px;
    color: #333333;
}

.card__button-box {
    display: flex;
    margin-top: auto;
    justify-content: center;
}

.card__button {
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #fff;
    background-color: #0099cc;
    padding: 13px 53px;
    border-radius: 8px;
    transition: opacity 0.15s linear;
}

.card__button:hover {
    text-decoration: none;
    opacity: 0.7;
    cursor: pointer;
    color: #fff;
}

.green {
    color: #55be4c;
}

.btn--green {
    background-color: #55be4c;
}

.blue {
    color: #59d0e0;
}

.btn--blue {
    background-color: #59d0e0;
}

/*SLIDER=========*/

.catalog__slider {
    min-width: none;
    display: flex;
    position: relative;
}

.catalog__slider .slick-slider {
    margin: 0 15px;
}

.catalog__slider .slick-list {
    margin: 0 -15px;
}

/* Слайдер */

.slick-slider {
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}

/* Слайдер с точками */
.slick-slider.slick-dotted {
}

/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
    padding-bottom: 2px;
}

/* Лента слайдов */
.slick-track {
    display: flex;
}

/* Слайд */
.slick-slide {
}

/* Слайд активный (показывается) */
.slick-active {
}

/* Слайд основной */
.slick-slide.slick-current {
}

/* Слайд по центру */
.slick-slide.slick-center {
}

/* Клонированный слайд */
.slick-slide.slick-cloned {
}

/* Стрелка */
.catalog__slider .slick-arrow {
    border: 0;
    font-size: 0;
    position: absolute;
    z-index: 10;
    width: 50px;
    height: 50px;
    top: -14%;
}

/* Стрелка влево */
.catalog__slider .slick-arrow.slick-prev {
    right: 7%;
    background: url(/images/icons/catalog__left.svg) no-repeat;
}

/* Стрелка вправо */
.catalog__slider .slick-arrow.slick-next {
    right: 0;
    background: url(/images/icons/catalog__right.svg) no-repeat;
}

/* Стрелка не активная */
.slick-arrow.slick-disabled {
}

/*PROMOTIONS================*/

.promotions {
    margin-top: 100px;
    padding-bottom: 100px;
}

.title {
    font-size: 40px;
    line-height: 1.3;
    font-weight: 700;
    color: #333333;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}

.promotions__item {
    display: flex;
    border: 1px solid #d8d8d8;
    border-radius: 14px;
    padding: 20px;
    height: 100%;
    height: calc(100% - 30px);
    margin-bottom: 30px;
    flex-direction: column;
}

.promotions__img {
    height: 50%;
    overflow: hidden;
    border: 1px solid #f3f3f3;
    border-radius: 14px;
}

.promotions__subtitle {
    font-size: 22px;
    font-weight: 600;
    color: #333333;
    line-height: 1.1;
    margin-top: 24px;
}

.promotions__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: #666666;
    margin-top: 10px;
}

.promotions__button-box {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-top: auto;
}

.promotions__button {
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    color: #fff;
    background-color: #0099cc;
    border-radius: 12px;
    width: 100%;
    padding: 17px;
    transition: opacity 0.15s linear;
}

.promotions__button:hover {
    text-decoration: none;
    color: #fff;
    opacity: 0.7;
}

/*REVIEWS==============*/

.reviews {
    background: #f8f8f8;
    background-size: cover;
    padding-bottom: 200px;
    padding-top: 100px;
}

.reviews__item {
    margin-top: 50px;
    background-color: #fff;
    border-radius: 14px;
    padding: 30px;
    margin: 0 15px;
}

.reviews__author {
    display: flex;
    flex-wrap: wrap;
    background-color: #f8f8f8;
    border-radius: 14px;
    padding: 20px;
    align-items: center;
}

.reviews__img {
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    justify-content: center;
}

.reviews__author-name {
    font-size: 18px;
    line-height: 1.3;
    font-weight: 600;
    color: #333333;
    margin-left: 15px;
}

.reviews__text {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
    color: #666666;
}

.reviews__slider {
    min-width: 0;
    display: flex;
    min-width: none;
    position: relative;
}

.reviews__slider .slick-slider {
    margin: 0 15px;
}

.reviews__slider .slick-list {
    margin: 0 -15px;
}

/* Стрелка */
.reviews__slider .slick-arrow {
    font-size: 0;
    position: absolute;
    z-index: 10;
    width: 30px;
    height: 30px;
    top: 110%;
    border: 0;
}

/* Стрелка влево */
.reviews__slider .slick-arrow.slick-prev {
    left: 0;
    background: url(/images/icons/reviews-left.svg) no-repeat;
}

/* Стрелка вправо */
.reviews__slider .slick-arrow.slick-next {
    right: 0;
    background: url(/images/icons/reviews-right.svg) no-repeat;
}

.reviews__slider .slick-dots {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
    top: 115%;
    width: 98.7179%;
}

.reviews__slider .slick-dots li {
    list-style: none;
}

/* Активная точка */
.reviews__slider .slick-dots li.slick-active button {
    width: 16px;
    height: 16px;
    background-color: #0099cc;
}

/* Элемент точки */
.reviews__slider .slick-dots li button {
    border: 0;
    box-shadow: 0;
    font-size: 0;
    width: 12px;
    height: 12px;
    background-color: #e8e8e8;
    border-radius: 50%;
    margin: 0 8px;
}

/*YANDEX_MAP=========================*/

.map-box {
    margin-top: 100px;
}

#map {
    height: 400px;
}

/*FOOTER=============================*/

.footer {
    display: flex;
    padding: 30px 0;
    background-color: #fff;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__text {
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    line-height: 1.4;
    padding-right: 10px;
}

.footer__logo {
    display: flex;
    align-items: center;
}

/*Burger ========*/

.burger-box {
    display: none;
    padding: 20px;
}

.burger {
    padding: 9px 2px; /*чтобы бургер нажимался по всех своей ширине и высоте*/
    background: none;
    border: 0;
    cursor: pointer; /*чтобы менялся вид курсора при наведении*/
}

.burger__item {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    /*делаем так, чтобы слово Menu не показывалось*/
    font-size: 0;
    color: transparent;
    /*position: relative, чтобы создать полоски снизу и сверху*/
    position: relative;
}

/*с помощью псевдомассивов before и after создадим ещё две полоски в бургер-меню*/
.burger__item:before,
.burger__item:after {
    content: "";
    width: 100%;
    height: 100%;

    background-color: #fff;
    position: absolute;
    left: 0;
    z-index: 1;
}

.burger__item:before {
    top: -8px; /*position: absolute, поэтому top ОТНОСИТЕЛЬНО burger__item*/
}

.burger__item:after {
    bottom: -8px;
}

/*=======================================================*/
/*CATALOG.HTML*/

.page__root--catalog {
    background-color: #fafafa;
}

.header--catalog {
    background-color: #fff;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    padding-bottom: 15px;
    height: auto;
}

.header--catalog.fixed {
    position: fixed;
    background: #fff;
    height: auto;
    border-bottom: 2px #a2a2a280 solid;
}

.header__top--catalog {
    align-items: center; /*расположим элементы внутри него по центру (по горизонтали)*/
    padding: 16px 0 0; /* внутренний отступ сверху и снизу*/
}

.header .container {
    position: relative;
}

hr {
    width: 100%;
    padding: 0;
    border-style: inset;
    border-width: 1px;
    color: #c4c4c4; /* добавили полоску*/
}

/* Navigation =========== */

.header__info--catalog {
    display: flex;
    justify-content: right;
    text-align: right;
    margin-bottom: 0;
    padding-bottom: 0;
}

.nav {
    display: flex;
}

.nav__link--catalog {
    margin-left: 40px;
    font-size: 14px;
    line-height: 1.3;
    font-weight: 400;
    text-decoration: none; /* убираем подчеркивание ссылок снизу*/
    opacity: 1;
    transition: color 0.1s linear;
}

.nav__link--catalog a {
    color: #333333;
}

.nav__link--catalog:first-child {
    /*псевдокласс - первый элемент*/
    margin-left: 0px;
}

.nav__link--catalog a:hover {
    text-decoration: none;
    color: #0099cc;
}

.nav__sub--catalog {
    color: #fff;
    display: none;
    position: absolute;
    z-index: 10;
    top: 100%;
    background-color: #fff;
    opacity: 0.9;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px;
}

.sub__link--catalog {
    margin-top: 10px;
    top: 0;
    color: #333333;
}

/*Info ===========*/

.search__txt--catalog {
    color: #a2a2a2;
}

.contacts--catalog {
    color: #333333;
}

.contacts--catalog:hover {
    text-decoration: none;
    color: #333333;
    opacity: 0.7;
}

.call__link--catalog {
    color: #0099cc;
}

.call__link--catalog:hover {
    color: #0099cc;
    text-decoration: none;
}

/*Burger ========*/

.burger-box--catalog {
    display: none;
    padding: 20px;
}

.burger--catalog {
    padding: 9px 2px; /*чтобы бургер нажимался по всех своей ширине и высоте*/
    background: none;
    border: 0;
    cursor: pointer; /*чтобы менялся вид курсора при наведении*/
}

.burger__item--catalog {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #000;
    /*делаем так, чтобы слово Menu не показывалось*/
    font-size: 0;
    color: transparent;
    /*position: relative, чтобы создать полоски снизу и сверху*/
    position: relative;
}

/*с помощью псевдомассивов before и after создадим ещё две полоски в бургер-меню*/
.burger__item--catalog:before,
.burger__item--catalog:after {
    content: "";
    width: 100%;
    height: 100%;

    background-color: #fff;
    position: absolute;
    left: 0;
    z-index: 1;
}

.burger__item--catalog:before {
    top: -8px; /*position: absolute, поэтому top ОТНОСИТЕЛЬНО burger__item*/
}

.burger__item--catalog:after {
    bottom: -8px;
}

/*breadcrumbs*/

.breadcrumb {
    display: flex;
    padding: 20px 0;
    align-items: center;
    background-color: #fafafa;
    margin-top: 140px;
}

.breadcrumb__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: -10px;
    align-items: center;
}

.breadcrumb__list li a {
    color: #333333;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 100%;
}

.breadcrumb__list li span {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    padding-left: 10px;
}

.breadcrumb__list li::before {
    content: "/";
}

.breadcrumb__list li:first-child::before {
    content: "";
}

.breadcrumb-box ul li a:hover {
    text-decoration: none;
}

/*content*/

.filter__title {
    font-size: 20px;
    font-weight: 700;
    color: #333333;
    line-height: 100%;
    margin-bottom: 20px;
}

.filter__inner {
    border-radius: 10px;
    overflow: hidden;
}

.filter__item-box {
    background-color: #fafafa;
}

.filter__type {
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    background-color: #fff;
    border-bottom: 1.5px solid rgba(196, 196, 196, 0.3);
    cursor: pointer;
    transform: none;
}

.filter__name {
    font-size: 16px;
    line-height: 100%;
    font-weight: 600;
    color: #333333;
}

.filter__item-box {
    display: flex;
    flex-direction: column;
}

.filter__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 20px;
}

.filter__item-name {
    font-size: 14px;
    line-height: 100%;
    font-weight: 400;
    color: #333333;
}

.filter__item-link {
    font-size: 12px;
    color: #0099cc;
    font-weight: 400;
    line-height: 100%;
    text-decoration: underline;
}

.filter__item-link:hover {
    text-decoration: none;
    cursor: pointer;
}

.filter__subitem-box {
    padding: 5px 20px;
    display: none;
}

.filter__subitem-name {
    font-family: "Segoe UI", sans-serif;
    font-size: 12px;
    line-height: 100%;
    font-weight: 400;
    color: #666666;
    margin: 7px 0;
}

.filter__items {
    display: none;
}

.filter__items.active {
    display: block;
}

.filter__item-link.active {
    color: #666666;
    font-weight: 400;
    text-decoration: underline;
}

.filter__item-link.active:hover {
    text-decoration: none;
}

.filter__subitem-box.active {
    display: block;
}

.filter__type.active .filter__arrow {
    transform: rotate(180deg);
    transition: 0.2s ease;
}

/*POPULAR DRINKS*/

.popular__drink {
    margin-top: 20px;
}

.drink {
    height: 100%;
    margin-top: 12px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 18px 35px 18px 15px;
    display: flex;
    justify-content: space-between;
}

.drink:first-child {
    margin-top: 0;
}

.drink__image {
    border-radius: 10px;
    overflow: hidden;
    margin-right: 10px;
}

.drink__name {
    display: flex;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.25;
    color: #333333;
    text-align: start;
}

.drink__options {
    display: flex;
    margin-top: 20px;
    justify-content: start;
}

.drink__size {
    display: flex;
    background-color: #ececec;
    border-radius: 6px;
    font-size: 12px;
    line-height: 100%;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    color: #666666;
    padding: 5px 9px;
}

.drink__price {
    display: flex;
    background-color: #0099cc;
    border-radius: 6px;
    font-size: 12px;
    line-height: 100%;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 5px 9px;
    margin-left: 5px;
}

/*DRINK__COUNTRY*/

.drink__country {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
}

.country__checkbox {
    position: relative;
}

.country__input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}

.country__label {
    display: flex;
    background-color: #ececec;
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    border-radius: 10px;
    text-align: center;
    padding: 13px 19px;
    margin-right: 8px;
    margin-bottom: 10px;
    transition: background-color 0.1s linear;
    cursor: pointer;
}

.country__input:checked + .country__label {
    background-color: #0099cc;
    color: #fff;
    font-weight: 700;
    padding: 12px 18px;
}

/*drink__filter*/

.drink__filter {
    margin-top: 40px;
}

.filter__checkbox {
    position: relative;
    margin-bottom: 9px;
}

.filter__input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}

.filter__label {
    font-size: 14px;
    line-height: 100%;
    font-weight: 400;
    color: #666666;
    padding-left: 35px;
    cursor: pointer;
}

.filter__label:before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid #eeeeee;
    background-color: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.filter__label:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background: url("/images/icons/checked-catalog.svg") no-repeat;
    position: absolute;
    top: 4px;
    left: 4px;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.filter__input:checked + .filter__label:after {
    opacity: 1;
}

.filter__button-box {
    margin-top: 40px;
}

.filter__button {
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    color: #fff;
    background-color: #0099cc;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
}

/*PRICE SLIDER*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.filter-price__inputs {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.filter-price__label {
    display: flex;
    align-items: center;
    width: 130px;
    border: 2px solid #efefef;
    border-radius: 10px;
    padding: 0 5px;
}

.filter-price-text {
    font-size: 14px;
    font-weight: 400;
    color: #666666;
    padding: 10px 5px;
}

.filter-price__input {
    border: 1px solid #efefef;
    border-radius: 8px;
    width: 100%;
    background: #fff;
    margin-right: auto;
    font-size: 14px;
    font-weight: 400;
    color: #666666;
}

/* .filter-price__input:focus {
    border: 1px solid #0099cc;
    box-shadow: none;
} */

.noUi-target {
    border: 2px solid #efefef;
    border-radius: 100px;
    box-shadow: none;
    background-color: #fff;
    height: 12px;
    width: 100%;
}

.noUi-connect {
    background-color: #0099cc;
}

.noUi-handle::after,
.noUi-handle::before {
    display: none;
}

.noUi-handle {
    box-shadow: none;
    background-color: #fff;
    border: 3px solid #0099cc;
    border-radius: 50%;
}

.noUi-handle:hover {
    cursor: pointer;
}

.noUi-horizontal .noUi-handle {
    width: 24px;
    height: 24px;
    top: -8px;
}

.filter-price__slider {
    margin-top: 10px;
    margin-left: -4px;
}

/*CATALOG*/

.catalog__title--catalog {
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    color: #333333;
}

.catalog__subtitle--catalog {
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #666666;
    margin-top: 20px;
}

.catalog__subtitle--catalog ol {
    margin: 10px 0;
}

.selects {
    display: flex;
}
.select-box {
    display: flex;
    align-items: center;
}

.select-box:last-child {
    margin-left: 30px;
}
.select__title {
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    line-height: 100%;
}

.select {
    position: relative;
}

.select.select-active .select__body {
    display: block;
}

.sort:last-child {
    margin-left: 30px;
}

.select__header {
    width: 200px;
    display: flex;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    color: #666666;
    background-color: #fff;
    border: 1px solid #efefef;
    border-radius: 8px;
    justify-content: space-between;
    padding: 10px 10px 10px 20px;
    cursor: pointer;
}

.select__current {
    display: flex;
    align-items: center;
}

.select__icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.select.select-active .select__icon {
    transform: rotate(180deg);
}

.select__body {
    border: solid 1px #efefef;
    position: absolute;
    left: 10px;
    right: 0;
    top: 100%;
    border-top: 0;
    z-index: 100;
    background-color: #fff;
    border-radius: 8px;
    display: none;
}

.select__item {
    font-size: 14px;
    font-weight: 400;
    color: #666666;
    cursor: pointer;
    padding: 10px 10px 10px 20px;
}

.select__item.active {
    background-color: #0099CC;
    color: #fff;
}

.select__item:not(.active):hover {
    background-color: #eaeaea60;
}

/*catalog__items*/
.catalog__items--catalog {
    margin-top: 22px;
}

.catalog__item--catalog {
    background-color: #fff;
    display: flex;
    border: 1px solid #d8d8d8;
    border-radius: 14px;
    padding: 18px 23px 30px 23px;
    height: 100%;
    height: calc(100% - 27px);
    flex-direction: column;
    margin-bottom: 27px;
}

.card__options--catalog {
    display: flex;
    padding: 0;
}

.card__option--catalog {
    display: flex;
    font-size: 16px;
    line-height: 1.3;
    color: #666666;
    background-color: #ececec;
    border-radius: 8px;
    height: 40px;
    width: 80px;
    margin-left: 8px;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.card__option--catalog:first-child {
    margin-left: 0px;
}

.card__image--catalog {
    display: flex;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
}

.card__describe--catalog {
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    line-height: 1.4;
    display: flex;
    margin-top: 12px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.card__price--catalog {
    display: flex;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 64px;
    justify-content: center;
    color: #0099cc;
    align-items: baseline;
}

.price__value--catalog {
    font-size: 18px;
    font-weight: 400;
    margin-left: 5px;
    color: #333333;
}

.card__button-box--catalog {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.card__button--catalog {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    background-color: #0099cc;
    padding: 10px 80px;
    border-radius: 8px;
    transition: opacity 0.15s linear;
}

.card__button--catalog:hover {
    text-decoration: none;
    opacity: 0.7;
    cursor: pointer;
    color: #fff;
}

/*PAGINATION*/

.page-link__img {
    transform: rotate(180deg);
}

.pagination {
    text-align: center;
    padding-bottom: 50px;
}

.pagination ol {
    font-size: 0;
    padding: 0;
    display: flex;
    margin: 0;
}
.page__item {
    margin-left: 10px;
}

.page__item:first-child {
    margin-left: 0;
}

.page-link {
    display: flex;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    color: #666666;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border: 1px #efefef00 solid;
    border-radius: 8px;
    background-color: #fff;
    transition: border 0.2s linear;
    overflow: hidden;
}

.active-page .page-link {
    font-weight: 700;
    line-height: 100%;
    color: #fff;
    background-color: #0099cc;
}

.page-link:hover {
    text-decoration: none;
    border: 2px #666666 solid;
    color: #666666;
}

.active-page .page-link:hover {
    color: #fff;
    text-decoration: none;
    border: 2px #fff solid;
    background-color: #0099cc90;
}




/*============CATALOG-MAIN.HTML===============*/

.goods {
    padding-bottom: 40px;
}

.goods__item {
    background-color: #fff;
    border: 1px #eeeeee solid;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px 35px;
    margin-bottom: 15px;
    height: 100%;
    height: calc(100% - 15px);
}

.goods__title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4;
    color: #333333;
    text-decoration: none;
    text-align: center;
}

.goods__item:hover {
    text-decoration: none;
    border-color: #666666;
    background-color: rgba(255, 255, 255, 0.5);
}


.goods__link {
    margin-top: 5px;
    font-size: 12px;
    font-weight: 400;
    line-height: 100%;
    color: #0099CC;
    text-decoration: underline;
}

.goods__item:hover .goods__link {
    text-decoration: none;
}












@media (max-width: 991px) {
    /*Navigation*/
    .header__top,
    .header__bottom,
    hr {
        display: none; /*меню навигации не показывается (в дальнейшем сделаем бургер-меню)*/
    }
    .burger-box {
        display: block;
    }

    /*INTRO*/
    .intro {
        padding-top: 110px;
    }

    .intro__title {
        font-size: 40px;
    }

    /*CATALOG*/
    /* Стрелка влево */
    .catalog__slider .slick-arrow.slick-prev {
        right: 7%;
    }

    /* Стрелка вправо */
    .catalog__slider .slick-arrow.slick-next {
        right: 0;
    }
}

@media (max-width: 767px) {
    /*Intro*/
    .intro {
        height: auto; /*убираем заданную высоту*/
        padding-top: 130px;
        padding-bottom: 30px;
    }

    .intro__title {
        font-size: 30px;
    }
}
