@font-face {
    font-family: 'Segoe UI';
    src: url('/images/fonts/SegoeUI/regular/Segoe UI.eot');
    src: url('/images/fonts/SegoeUI/regular/Segoe UI.eot?#iefix') format('embedded-opentype'),
        url('/images/fonts/SegoeUI/regular/Segoe UI.woff2') format('woff2'),
        url('/images/fonts/SegoeUI/regular/Segoe UI.woff') format('woff'),
        url('/images/fonts/SegoeUI/regular/Segoe UI.ttf') format('truetype'),
        url('/images/fonts/SegoeUI/regular/Segoe UI.svg#-CirceCirceCirce') format('svg');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Segoe UI';
    src: url('/images/fonts/SegoeUI/bold/SegoeUI-Bold.eot');
    src: url('/images/fonts/SegoeUI/bold/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
        url('/images/fonts/SegoeUI/bold/SegoeUI-Bold.woff') format('woff'),
        url('/images/fonts/SegoeUI/bold/SegoeUI-Bold.ttf') format('truetype'),
        url('/images/fonts/SegoeUI/bold/SegoeUI-Bold.svg#-CirceCirceCirce') format('svg');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'Segoe UI';
    src: url('/images/fonts/SegoeUI/semibold/SegoeUI-SemiBold.eot');
    src: url('/images/fonts/SegoeUI/semibold/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('/images/fonts/SegoeUI/semibold/SegoeUI-SemiBold.woff') format('woff'),
        url('/images/fonts/SegoeUI/semibold/SegoeUI-SemiBold.ttf') format('truetype'),
        url('/images/fonts/SegoeUI/semibold/SegoeUI-SemiBold.svg#-CirceCirceCirce') format('svg');
    font-weight: 600;
    font-style: normal;
}


.page-root{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	min-height: 100vh;
}

body {
    margin: 0;/* по умолчанию есть отступы по 8px, убираем их */
    font-family:'Segoe UI', sans-serif;
    font-size: 14px;
    /*сглазим шрифты*/
    -webkit-font-smoothing: antialiased;
    background-color: #fff;

}

/* Container ============ */
.container {
    width: 100%;
    max-width: 1200px;
}

/* HEADER =========== */

*,
*:before,
*:after {
    box-sizing: border-box; /*алгоритм подсчета размера блоков с учётом padding*/
}

.header {
    /* overflow: hidden; */
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    z-index: 1000;
    position: absolute;
}

.header__top {
    align-items: center; /*расположим элементы внутри него по центру (по горизонтали)*/
    padding: 16px 0 0; /* внутренний отступ сверху и снизу*/
    
}

.header .container {
    position: relative;
}

hr {
    width: 100%;
    padding: 0;
    border-style: inset;
    border-width: 1px;   
    color: #C4C4C4; /* добавили полоску*/
}



/* Navigation =========== */

.header__info {
    display: flex;
    justify-content: right;
    text-align: right;
    margin-bottom: 0;
    padding-bottom: 0;
}

.nav {
    display: flex;

}

.nav__link {
    margin-left: 40px;
    font-size: 14px;
    line-height: 1.3;
    font-weight: 600;
    text-decoration: none; /* убираем подчеркивание ссылок снизу*/ 
    opacity: 1; 
    transition: color 0.1s linear;
    
}

.nav__link a {
    color: #fff;

}

.nav__link:first-child { /*псевдокласс - первый элемент*/
    margin-left: 0px;
}

.nav__link a:hover {
    text-decoration: none;
    color: #0099CC;
}

.nav__sub-box {
    padding: 0 0 0 0;
    z-index: 10;
}

.nav__sub {
    color: #fff;
    display: none;
    position: absolute;
    z-index: 10;
    top: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 10px;
}

.sub__link {
    margin-top: 10px;
    top: 0;
}

.sub__link:first-child {
    margin-top: 0px;
}

.menu__link {
    color: #fff;
}

.menu__link:hover {
    cursor: pointer;
}



.nav__link.menu__link:hover .nav__sub{
    display: block;
}


/*Info ===========*/

.header__bottom {
    z-index: 1;
    display: flex;
    margin-left: 0px;
    align-items: center;
}


.search__form {
    display: flex;
    margin-left: 30px;
    background: none;
    height: 40px;
    width: 33%;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    opacity: 0.8;
    padding: 0 18px;; 
}

.search__button {
    background: none;
    border: none;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0;
    
}

.search__txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #fff;
    opacity: 1;
    font-size: 14px;
    transition: 0.4s;
    line-height: 40px;
    width: 400px;
    font-weight: 400;
    
}

.search__button:hover > .search__icon {
    width: 22px;
    height: 22px;
}

.search__form:hover {
    border: 2px solid #fff;
}


.header__mail,
.header__phone {
    margin-left: 30px;
    display: flex;
    align-items: center;

}

.contacts {
    display: flex;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    font-style:normal;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.info__icons {
    margin-right: 10px;
}

.contacts:hover {
    text-decoration: none;
    color: #fff;
    opacity: 0.9;
}

.call {
    margin-left: auto;
    display: flex;
    align-items: center;
    padding: 0;
}

.call__link {
    color: #FEED00;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
}

.call__link:hover {
    color: #FEED00;
    text-decoration: none;
}


/*INTRO==============*/

.intro {
    display: flex;
    height: 100%;
    padding-top: 210px; /*чтобы интро начиналось на таком расстояние(размер шапки), т.к. шапка поверх всего*/
    background: #000 url("/images/intro-bg.jpg") center no-repeat; /*/ пока картинка не загрузилась - чтобы видеть фоновый цвет*/
	background-size: cover; 
    color: #fff;
    padding-bottom: 140px;
}

.intro__title {
    font-size: 54px;
    line-height: 1.3;
    font-weight: bold;
}

.intro__subtitle {
    margin-top: 14px;
    font-size: 16px;
    line-height: 1.6;
    opacity: 0.8;
}

.intro__btn__box {
    margin-top: 45px;   
}

.intro__btn {
    padding: 0 17px;
    border: none;
    border-radius: 12px;
    color: #fff;
    font-size: 18px;
    line-height: 1.3;
    font-weight: 600;
    background-color: #0099CC;
    transition: color 0.1s linear;
    transition: padding 0.1s linear;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 260px;
    height: 60px;
}

.arrow_rigth {
    padding-left: 15px;
}

.intro__btn:hover {
    text-decoration: none;
    background-color: #007EA8;
    color: #fff;
    padding: 0 10px 0 17px;
    border: 2px solid #fff;
}


/*CATALOG==============*/

.catalog {
    margin-top: 100px;
}


.catalog__title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    align-items: center;
}

.catalog__link {
    display: flex;
    font-size: 40px;
    line-height: 100%;
    color: #000;
    font-weight: 700;
    text-decoration: none;
}


.catalog__name {
    text-decoration: underline;
    color: #000;
    padding-bottom: 10px;
    padding-left: 2px;
}

.catalog__num {
    margin-left: 5px;
    font-weight: 600;
    color: #666666;
    margin-left: 5px;
}

.catalog__link:hover {
    text-decoration: none;
    background-color: rgba(180, 180, 180, 0.5);
    border-radius: 14px;
}

.catalog__buttons {
    display: flex;
}

.catalog__left,
.catalog__right {
    border: 2px solid #fff;
}

.catalog__right {
    margin-left: 10px;
}

.catalog__left:hover {
    border: 2px solid #000;
    border-radius: 50%;
    cursor: pointer;
}
.catalog__right:hover {
    border: 2px solid #000;
    border-radius: 50%;
    cursor: pointer;
}


.catalog__item {
    display: flex;
    border: 1px solid #D8D8D8;
    border-radius: 14px;
    padding: 18px 18px 30px;
    margin: 0 15px;
    height: 100%;
    height: calc(100% - 30px);
    flex-direction: column;
}



.card__options {
    display: flex;
    padding: 0;
}

.card__option {
    display: flex;
    font-size: 16px;
    line-height: 1.3;
    color: #666666;
    background-color: #ECECEC;
    border-radius: 8px;
    height: 40px;
    width: 80px;
    margin-left: 8px;
    justify-content: center;
    align-items: center; 
    padding: 0;
}

.card__option:first-child {
    margin-left: 0px;
}

.card__image {
    display: flex;
    margin-top: 36px;
    justify-content: center;
    align-items: center; 
}

.card__describe {
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    line-height: 1.4;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center; 
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #C4C4C4;
    margin-bottom: 20px;
}



.card__price {
    display: flex;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    justify-content: center;
    color: #0099CC;
    align-items: baseline;
    margin-top: auto;
    margin-bottom: 20px;    
}



.price__value {
    font-size: 18px;
    font-weight: 400;
    margin-left: 5px;
    color: #333333;
}

.card__button-box {
    display: flex;
    margin-top: auto;
    justify-content: center;
}

.card__button {
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #fff;
    background-color: #0099CC;
    padding: 13px 53px;
    border-radius: 8px;
    transition: opacity 0.15s linear;
}

.card__button:hover {
    text-decoration: none;
    opacity: 0.7;
    cursor: pointer;
    color: #fff;
}

.green {
    color: #55BE4C;
}

.btn--green {
    background-color: #55BE4C;
}

.blue {
    color: #59D0E0;
}

.btn--blue {
    background-color: #59D0E0;
}

/*SLIDER=========*/

.js-catalog__slider {
    min-width: none;
    display: flex;
    width: 100%;
    position: relative;
}


.js-catalog__slider .slick-slider {
    margin: 0 15px;
}

.js-catalog__slider .slick-list {
    margin: 0 -15px;
}

 /* Слайдер */ 
 
 .slick-slider{}
 /* Слайдер запущен */ 
.slick-slider.slick-initialized{}

/* Слайдер с точками */ 
.slick-slider.slick-dotted{}	

/* Ограничивающая оболочка */ 
.slick-list {
    overflow: hidden;
    padding-bottom: 2px;

}

 /* Лента слайдов */
 .slick-track{
    display: flex;
 }

/* Слайд */ 
.slick-slide{}
 


/* Слайд активный (показывается) */ 
.slick-active {

} 



/* Слайд основной */ 
.slick-slide.slick-current{} 

/* Слайд по центру */ 
.slick-slide.slick-center{} 

/* Клонированный слайд */ 
.slick-slide.slick-cloned{}

/* Стрелка */ 
.js-catalog__slider .slick-arrow{
    border: 0;
    font-size: 0;
    position: absolute;
    z-index: 10;
    width: 50px;
    height: 50px;
    top: -14%;
} 

/* Стрелка влево */ 
.js-catalog__slider .slick-arrow.slick-prev{
    right: 7%;
    background: url(/images/icons/catalog__left.svg) no-repeat;
} 

/* Стрелка вправо */ 
.js-catalog__slider .slick-arrow.slick-next{
    right: 0;
    background: url(/images/icons/catalog__right.svg) no-repeat;
} 


/* Стрелка не активная */ 
.slick-arrow.slick-disabled{}




/*PROMOTIONS================*/

.promotions {
    margin-top: 100px;
    padding-bottom: 100px;
}

.title {
    font-size: 40px;
    line-height: 1.3;
    font-weight: 700;
    color: #333333;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}

.promotions__item {
    display: flex;
    border: 1px solid #D8D8D8;
    border-radius: 14px;
    padding: 20px;
    height: 100%;
    height: calc(100% - 30px);
    margin-bottom: 30px;
    flex-direction: column;
}

.promotions__img {
    height: 50%;
    overflow: hidden;
    border: 1px solid #F3F3F3;
    border-radius: 14px;
}

.promotions__subtitle {
    font-size: 22px;
    font-weight: 600;
    color: #333333;
    line-height: 1.1;
    margin-top: 24px;
}

.promotions__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: #666666;
    margin-top: 10px;
}

.promotions__button-box {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-top: auto;
}

.promotions__button {
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    color: #fff;
    background-color: #0099CC;
    border-radius: 12px;
    width: 100%;
    padding: 17px;
    transition: opacity 0.15s linear;
}

.promotions__button:hover {
    text-decoration: none;
    color: #fff;
    opacity: 0.7;
}


/*REVIEWS==============*/

.reviews {
    background: #F8F8F8;
    background-size: cover;
    padding-bottom: 200px;
    padding-top: 100px;
}

.reviews .container {
    min-width: 0;
}

.reviews__item {
    margin-top: 50px;
    background-color: #fff;
    border-radius: 14px;
    padding: 30px;
    margin: 0 15px;
}

.reviews__author {
    display: flex;
    flex-wrap: wrap;
    background-color: #F8F8F8;
    border-radius: 14px;
    padding: 20px;
    align-items: center;
}

.reviews__img {
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    justify-content: center;
}


.reviews__author-name {
    font-size: 18px;
    line-height: 1.3;
    font-weight: 600;
    color: #333333;
    margin-left: 15px;
}

.reviews__text {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
    color: #666666;
}

.js-reviews__slider {
    min-width: 0;
    display: flex;
    min-width: none;
    position: relative;
}

.js-reviews__slider .slick-slider {
    margin: 0 15px;
}

.js-reviews__slider .slick-list {
    margin: 0 -15px;
}

/* Стрелка */ 
.js-reviews__slider .slick-arrow{
    font-size: 0;
    position: absolute;
    z-index: 10;
    width: 30px;
    height: 30px;
    top: 110%;
    border: 0;
} 

/* Стрелка влево */ 
.js-reviews__slider .slick-arrow.slick-prev{
    left: 0;
    background: url(/images/icons/reviews-left.svg) no-repeat;
} 

/* Стрелка вправо */ 
.js-reviews__slider .slick-arrow.slick-next{
    right: 0;
    background: url(/images/icons/reviews-right.svg) no-repeat
} 

.js-reviews__slider .slick-dots {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
    top: 115%;
    width: 98.7179%;
}

.js-reviews__slider .slick-dots li{
    list-style: none;
} 

/* Активная точка */ 
.js-reviews__slider .slick-dots li.slick-active button{
    width: 16px;
    height: 16px;
    background-color: #0099CC;
} 

/* Элемент точки */ 
.js-reviews__slider .slick-dots li button{
    border: 0;
    box-shadow: 0;
    font-size: 0;
    width: 12px;
    height: 12px;
    background-color: #E8E8E8;
    border-radius: 50%;
    margin: 0 8px;
} 


/*YANDEX_MAP=========================*/

.map-box {
    margin-top: 100px;
}

/*FOOTER=============================*/

.footer {
    display: flex;
    padding: 30px 0;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__text {
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    line-height: 1.4;
}




/*Burger ========*/

.burger-box {
    display: none;
    padding: 20px;
}


.burger {
	padding: 9px 2px; /*чтобы бургер нажимался по всех своей ширине и высоте*/
	background: none;
	border: 0;
	cursor: pointer; /*чтобы менялся вид курсора при наведении*/

}

.burger__item {
	display: block;
	width: 30px;
	height: 3px;
	background-color: #fff;
	/*делаем так, чтобы слово Menu не показывалось*/
	font-size: 0;
	color: transparent;
	/*position: relative, чтобы создать полоски снизу и сверху*/
	position: relative;
}

/*с помощью псевдомассивов before и after создадим ещё две полоски в бургер-меню*/
.burger__item:before,
.burger__item:after {
	content: "";
	width: 100%;
	height: 100%;
	
	background-color: #fff;
	position: absolute;
	left: 0;
	z-index: 1;
}

.burger__item:before {
	top: -8px; /*position: absolute, поэтому top ОТНОСИТЕЛЬНО burger__item*/
}

.burger__item:after {
	bottom: -8px;
}


@media (max-width: 991px) {
	
	/*Navigation*/
	.header__top,
    .header__bottom,
    hr {
		display: none; /*меню навигации не показывается (в дальнейшем сделаем бургер-меню)*/
	}
	.burger-box {
		display: block;
	}

    /*INTRO*/
    .intro {
        padding-top: 110px;
    }

    .intro__title {
        font-size: 40px;
    }

    /*CATALOG*/
    /* Стрелка влево */ 
    .catalog__slider .slick-arrow.slick-prev{
        right: 7%;
    } 

    /* Стрелка вправо */ 
    .catalog__slider .slick-arrow.slick-next{
        right: 0;
    } 

}

@media (max-width: 767px) {
	
	/*Intro*/
	.intro {
		height: auto; /*убираем заданную высоту*/
		padding-top: 130px;
		padding-bottom: 30px;
	}
	
	.intro__title {
		font-size: 30px;
	}

}