/* @font-face {
    font-family: 'Segoe UI';
    src: url('/images/fonts/SegoeUI/regular/Segoe UI.eot');
    src: url('/images/fonts/SegoeUI/regular/Segoe UI.eot?#iefix') format('embedded-opentype'),
        url('/images/fonts/SegoeUI/regular/Segoe UI.woff2') format('woff2'),
        url('/images/fonts/SegoeUI/regular/Segoe UI.woff') format('woff'),
        url('/images/fonts/SegoeUI/regular/Segoe UI.ttf') format('truetype'),
        url('/images/fonts/SegoeUI/regular/Segoe UI.svg#-CirceCirceCirce') format('svg');
    font-weight: 400;
    font-style: normal;
} */

.page-root{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	min-height: 100vh;
}

body {
    margin: 0;/* по умолчанию есть отступы по 8px, убираем их */
    font-family:'Segoe UI', sans-serif;
    font-size: 14px;
    color: #fff;
    /*сглазим шрифты*/
    -webkit-font-smoothing: antialiased ;

    background-color: #000;

}

/* Container ============ */
.container {
    width: 100%;
    max-width: 1170px;
}

/* HEADER =========== */

*,
*:before,
*:after {
    box-sizing: border-box; /*алгоритм подсчета размера блоков с учётом padding*/
}

.header {
    /* overflow: hidden; */
    width: 100%;
    height: 100px;
   /*position: absolute; /*сделаем шапку навигации поверх intro*/
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__top {
    align-items: center; /*расположим элементы внутри него по центру (по горизонтали)*/
    padding: 16px 0 0; /* внутренний отступ сверху и снизу*/
    
}

hr {
    width: 100%;
    padding: 0;
    border-style: inset;
    border-width: 1px;   
    color: #C4C4C4; /* добавили полоску*/
}

/* Navigation =========== */



.header__info {
    display: flex;
    justify-content: right;
    text-align: right;
}

.nav {
    display: flex;
    font-size: 14px;
    font-weight: 700;
}

.nav__link {
    margin-left: 40px;
    color: #fff;
    font-size: 14px;
    line-height: 1.3;
    font-weight: 600;
    text-decoration: none; /* убираем подчеркивание ссылок снизу*/ 
    opacity: 1; /*сделали ссылки полупрозрачными*/
    transition: opacity 0.1s linear; /*добавили плавность для прозрачности*/
}

.nav__link:first-child { /*псевдокласс - первый элемент*/
    margin-left: 0px;
}

.nav__link:hover {
    text-decoration: none;
    color: rgb(184, 184, 184);
}


.arrow__down {
    padding: 0 0 1px 3px;
}


/*Info ===========*/

.header__bottom {
    display: flex;
    margin-left: 0px;
    align-items: center;
}


.search__form {
    display: flex;
    margin-left: 30px;
    background: none;
    height: 40px;
    width: 400px;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    opacity: 0.8;
    padding: 0 18px;; 
}

.search__button {
    float: right;
    display: flex;
    justify-content: end;
    align-items: center;
    
}

.search__txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #fff;
    opacity: 1;
    font-size: 14px;
    transition: 0.4s;
    line-height: 40px;
    width: 400px;
    
}

.search__button:hover > .search__icon {
    width: 22px;
    height: 22px;
}

.search__form:hover {
    border: 2px solid #fff;
}


.header__mail,
.header__phone {
    margin-left: 30px;
}

.contacts {
    padding: 0;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
}

.info__icons {
    padding: 0;
    margin-right: 10px;
}

.contacts:hover {
    text-decoration: none;
    color: #fff;
    opacity: 0.9;
}

.call {
    display: flex;
    align-items: center;
    margin-left: 26px;
}

.call__link {
    color: #FEED00;
    font-size: 16px;
    font-weight: 300;
    text-decoration: underline;
    margin-bottom: 5px;
}

.call__link:hover {
    color: #FEED00;
    text-decoration: none;
}